@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FinalBestBrightnessStore.Models.ReportViewModel

<!DOCTYPE html>
<html>
    <!--
<head>
    <title>Generate PDF</title>
</head>
<body>
    <h1>Sales Report</h1>
    <table>
        <thead>
            <tr>
                <th>Salesperson ID</th>
                <th>Name</th>
                <th>Number of Products Sold</th>
                <th>Date</th>
                <th>Total Amount Made</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.SalePersonId</td>
                    <td>@order.SalesPersonName</td>
                    <td>@order.NumberOfProductsSold</td>
                    <td>@order.DateOfOrder.ToString("dd-MM-yyyy")</td>
                    <td>@order.TotalAmountMade:C</td>
                </tr>
            }
        </tbody>
    </table>
</body>- -->
</html>
